:root{
  --con-bg-color: #F4F4F4;
  --con-primary: #1F70A9;
  --con-secondary: #EA833C;
  --con-yellow: #FBB019;
  --con-light-primary: #319FCD;
  --con-dark-primary: #1F4497;
  --text-color: #252525;
  --light-text:#7D7D7D;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar-in{
  height: 4rem;
}

.nav-bg{
  background-color: white;
  box-shadow: 2px 2px 120px #cacaca;
  transition: ease-in .2s;
}


.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 12px;
  font-weight: 300;
}
.btn-search{
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


/* Search on scroll */


.input-search-scroll{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: var(--text-color);
}
.input-search-scroll::placeholder{
  color:var(--light-text);
  font-size: 12px;
  font-weight: 300;
}
.btn-search-scroll{
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:var(--text-color) ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search-scroll:focus ~ .input-search-scroll{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border:1px solid var(--light-text);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search-scroll:focus{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid var(--light-text);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



.logo img {
  height: 1.5rem;
}

/* sidebar */



.side-link{
  list-style-type: none;
  text-decoration: none;
  display: block;
  margin-left: none;
  color: var(--text-color);
}


